<dx-data-grid id="gridContainer"
    [dataSource]="dataSource"
    [showBorders]="true"
    [remoteOperations]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxi-column
        dataField="counter"
        dataType="number">
    </dxi-column>
    <dxi-column
        dataField="firstName"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="lastName"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="email"
        dataType="string">
    </dxi-column>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [allowedPageSizes]="[10, 15, 20]"
    ></dxo-pager>
</dx-data-grid>